
<p><%= @task.title %> - <%= @task.details %> - <%= @task.completed %></p>
<p><%= link_to "back to the list", tasks_path%></p>
<p><%= link_to "Edit a task", edit_task_path%></p>
<p><%= link_to "Delete a task", task_path, method: :delete, data: { confirm: "Are you sure?" }%></p>
